/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    
    color: #fff;
    line-height: 1.6;
}

#robbu-whatsapp-button{
    z-index: 99;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Fundo de partículas */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Estilos para o menu responsivo */
header {
    background: rgb(0, 0, 0);
    opacity: 95%;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 80px; /* Tamanho menor da logo */
    margin-left: -200px; /* Espaçamento à esquerda */
    margin-bottom: -30px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #2c8ac0;
}

@media (max-width: 768px) {
        .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    nav {
        z-index: 2 !important;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background: rgba(41, 83, 110, 0.9);
        padding: 20px;
        border-radius: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav.active {
        display: flex;
    }
}

/* Hero Section */
.hero {
    position: relative;
    padding: 150px 0;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    background-image: url('./Assets/bg-preto-1.jpg'); /* Imagem de fundo */
    background-size: cover; /* Garante que a imagem cubra todo o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548); /* Preto com 50% de opacidade */
    z-index: 1; /* Overlay acima da imagem de fundo, mas abaixo do conteúdo */
}

.hero-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    padding-top: 15%;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 20px #ffffff;
    position: relative; /* Garante que o título fique acima do overlay */
    z-index: 1; /* Título acima do overlay */
}

.hero-subtitle {
    font-size: 20px;
    margin-bottom: 80px;
    color: #2c8ac0;
    text-shadow: 0 0 5px #2c8ac0, 0 0 20px #2c8ac0;
    position: relative; /* Garante que o subtítulo fique acima do overlay */
    z-index: 2; /* Subtítulo acima do overlay */
}

.cta-button {
    background: #2c8ac0; /* Roxo mais suave */
    color: #fff;
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background 1s ease, transform 1s ease; /* Animação suave */
    box-shadow: 0 0 5px #2c8ac0, 0 0 20px #2c8ac0;
    position: relative; /* Garante que o botão fique acima do overlay */
    z-index: 2; /* Botão acima do overlay */
}

.cta-button:hover {
    background: #1527c5c2; /* mais escuro */
    transform: scale(1.1);
    box-shadow: 0 0 5px #1527c5c2, 0 0 20px #1527c5c2;
}


/* Services Section */
.services {
    padding: 80px 0;
    background: #111;    
}

@media screen and (min-width: 1024px) {
    .services {
        padding: 10% 0;
        background: #111; 
        height: 100vh;   
    }
}

.section-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: #87ceeb; /* Azul clarinho */
    text-shadow: 0 0 5px #87ceeb, 0 0 10px #87ceeb;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.service-card {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media screen and (min-width: 1024px) {
    .service-card {
        background: #1a1a1a;
        padding: 10vh;
        height: 50vh;
        border-radius: 10px;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
}


.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(135, 206, 235, 0.5); /* Azul clarinho */
}

.card-icon svg {
    width: 50px;
    height: 50px;
    fill: none;
    stroke: #87ceeb; /* Azul clarinho */
    stroke-width: 2;
    margin-bottom: 10px;
}

.service-features {
    list-style: none;
    margin-top: 15px;
    text-align: center;
}

.service-features li {
    margin-bottom: 10px;
    color: #ccc;
    text-shadow: 0 0 5px #ccc, 0 0 10px #ccc;
}

/* Projects Section */
.projects {
    padding: 80px 0;
    background: #000000;
    height: 100%;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background-image: url('./Assets/bg-preto-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    background-color: rgb(0, 17, 255); /* Cor de fundo semi-transparente */
    background-blend-mode: darken; /* Mistura a cor com a imagem */
    padding: 100px;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* Garante que as imagens sejam posicionadas relativas ao card */
}

.image-container {
    position: relative;
    width: 120%;
    height: 200px; /* Ajuste conforme necessário */
    margin-bottom: 15px;
    /*verflow: hidden; /* Garante que as imagens não ultrapassem o container */
}

.top-image, .bottom-image {
    position: absolute;
    top: -10%;
    left: 40%;
    transform: translateX(-50%);
    width: 100%; /* Ajuste o tamanho das imagens conforme necessário */
    height: auto;
    opacity: 1; /* Inicia totalmente visível */
    transition: opacity 2s ease; /* Transição suave para opacidade */
}

.bottom-image {
    z-index: 1; /* Imagem de fundo */
}

.top-image {
    z-index: 2; /* Imagem da frente */
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 150, 255, 0.5); /* Azul neon */
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project-card h3 {
    color: #87ceeb; /* Azul clarinho */
    margin-bottom: 10px;
    text-shadow: 0 0 3px #87ceeb, 0 0 10px #87ceeb;

}

.project-card p {
    color: #ccc;
    text-shadow: 0 0 5px #ccc, 0 0 20px #ccc;

}

/* About Section */

/* Media Query para dispositivos móveis */
@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column; /* Empilha os elementos verticalmente */
        text-align: center; /* Centraliza o texto */
    }

    .about-text, .about-image {
        text-align: center; /* Centraliza o texto e a imagem */
    }

    .about-image {
        order: -1; /* Coloca a imagem antes do texto */       
    }
}

@media screen and (min-width: 1024px) {
    .about{
        height: 100vh;
    }
}
.about {
    padding: 200px 0;    
    text-align: center;
    background-image: url('./Assets/bg-branco.jpg'); /* Imagem de fundo */
    background-size: cover; /* Garante que a imagem cubra todo o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */

    background-color: rgba(0, 0, 0, 0.151); /* Fundo preto com 50% de transparência */
    background-blend-mode: multiply; /* Mistura a cor de fundo com a imagem */

}

.section-title-about {
    font-family: 'Orbitron', sans-serif;
    font-size: 56px;
    text-align: center;
    margin-bottom: 40px;
    color: #000000; /* Azul clarinho */
    text-shadow: 0 0 5px #000000, 0 0 10px #ffffff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.about-content {
    display: flex; /* Ativa o Flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Distribui o espaço entre os elementos */
    gap: 40px; /* Espaçamento entre o texto e a imagem */
    margin-top: 40px; /* Espaçamento acima do conteúdo */
}

.about-text {
    flex: 1; /* Ocupa metade do espaço disponível */
    text-align: justify; /* Alinha o texto à esquerda */
    color: #000000;
    font-size: 3vh;
    text-shadow: 0 0 5px #000000, 0 0 10px #ffffff;
}

.about-image {
    flex: 1; /* Ocupa metade do espaço disponível */    
}

@media screen and (max-width: 768px) {
    .about-image img {
        max-width: 100%; /* Garante que a imagem não ultrapasse o container */
        height: auto;
        border-radius: 10px; /* Adiciona bordas arredondadas à imagem */
        margin-left: 0% !important;
    }
    
}

.about-image img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o container */
    height: auto;
    border-radius: 10px; /* Adiciona bordas arredondadas à imagem */
    margin-left: 20%;
}

/* Contact Section */
.contact {
    padding: 25vh 0;
    text-align: center;
    height: 100vh;
    background-image: url('./Assets/backgroundcards.webp'); /* Imagem de fundo */
    background-size: cover; /* Garante que a imagem cubra todo o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-color: rgba(0, 0, 0, 0.616); /* Fundo preto com 50% de transparência */
    background-blend-mode: multiply; /* Mistura a cor de fundo com a imagem */
}

.section-title-contact{
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff; /* Azul clarinho */
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;

}
.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact form input, .contact form textarea {
    padding: 10px;
    border: 1px solid #000000; /* Roxo mais suave */
    border-radius: 5px;
    background: #00000065;
    color: #ffffff;
}

.contact form textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
    min-height: 150px;
}

.contact form button {
    background: #000000; /* Roxo mais suave */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact form button:hover {
    background: #5a5a5a; /* Roxo mais escuro */
}

/* Redes Sociais */
.social-links {
    display: flex;
    justify-content: center; /* Centraliza as imagens horizontalmente */
    gap: 100px; /* Espaçamento entre as imagens */
    margin-top: 30px; /* Espaçamento acima das redes sociais */
    position: relative; /* Garante que o botão fique acima do overlay */
    z-index: 2; /* Botão acima do overlay */
    
}

.social-links img {
    width: 80px; /* Tamanho das imagens */
    height: auto;    
    transition: transform 0.3s ease; /* Efeito de hover */
    
}

.social-links img:hover {
    transform: scale(2); /* Aumenta o tamanho da imagem ao passar o mouse */
}
/* Footer */
footer {
    background: #111;
    padding: 20px 0;
    text-align: center;
    color: #ccc;
}
